body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

*:focus {
  outline: 2px dotted #FF7500;
  outline-offset: 3px;
}

.site-header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  transition: opasity 0.4s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.site-header-div {
  display: flex;
  align-items: center ;
}

.sitenav-list {
  list-style: none;
  display: flex;
}

.sitenav-link {
  font-size: 13px;
  font-weight: 500px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease,
  opacity 0.4s ease ;
}

.sitenav-link:hover {
  color: #FF7500;
}

.sitenav-link:active {
  opacity: 0.6;
}

.main-link {
  font-size: 13px;
  line-height: 15px;
  background: #FF7500;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}

.main-python{
  background: #252420;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-div{
  width: 390px;
}

.main-line {
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}

.main-h {
  font-size: 40px;
  line-height: 1.2;
  font-family: 'Roboto Condensed', 'Arial', 'Roboto', sans-serif;
}


.main-img {
  width: 510px;
  height: 510px;
}


.feature-h {
  width: 435px;
  font-size: 72px;
  line-height: 1.2;
  font-size: 'Roboto condensed', 'Arial', 'Roboto',sans-serif;
  letter-spacing: 0.5px;
}

.main-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.feature {
  width: 340px;
}

.feature-icon {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.li-heading {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
}


.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #fff;
}

.promo-div {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  font-size: 'Roboto condensed', 'Arial', 'Roboto',sans-serif;
}

.promo-paragraf {
  line-height: 150%;
  font-size: 16px;
}

.promo-image {
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.promo-strong {
  color: #FF7500 ;
}

.site-footer {
  background-color: #F8F8F8;
}

.site-footer-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer ul {
  list-style: none;
}

.site-footer-socials {
  display: flex;
  align-items: center;
}

.site-footer-socials a {
  color: #000;
}

.site-footer-socials a:hover {
  color: #FF7500;
}

.site-footer-socials a:active {
opacity: 0,6;
}


.site-footer-hr {
  height: 2px;
  background: rgba(37, 36, 32, 0.5);
}

.footer-div {
  display: flex;
}

.site-footer-links {
  width: 224px;
  line-height: 19px;
}

.site-footer-links a {
  text-decoration: none;
  color: #252420;
}

.site-footer-links a:hover {
  color: #FF7500;
}

.site-footer-links a:active{
  opacity: 0,6;
}