.site-header {
  background: #fff;
}

.sitenav-list {
  list-style: none;
}

.sitenav-link {
  font-size: 13px;
  font-weight: 500px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.main-link {
  font-size: 13px;
  line-height: 15px;
  background: #FF7500;
  color: #fff;
  text-decoration: none;
}

.main-python{
  background: #252420;
  color: #fff;
}
.main-div{
  width: 390px;
}

.main.line {
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}

.main.h {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
}


.main.img {
  width: 510px;
  height: 510px;
}

.main.paragraf {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.feature-h {
  width: 435px;
  height: 172px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.feature {
  width: 340px;
}

.feature-icon {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.li-heading {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
}

.paragraf {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.promo {
  background-color: #252420;
  color: #fff;
}

.promo-div {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.promo-paragraf {
  line-height: 150%;
  font-size: 16px;
}

.promo-image {
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.promo-strong {
  color: #FF7500 ;
}

.site-footer {
  background-color: #F8F8F8;
}

.site-footer ul {
  list-style: none;
}

.site-footer-hr {
  height: 2px;
  background: rgba(37, 36, 32, 0.5);
}

.site-footer-links {
  width: 224px;
}

.site-footer-links a {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #252420;
}